<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{DATE} [${sys:PID}] [%t] %-5p %c-[%L] %X - %m%n</Property>
        <Property name="APP_LOG_ROOT">${log4j:configParentLocation}</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
  
        <RollingFile name="file"
            fileName="${APP_LOG_ROOT}/application.log"
            filePattern="${APP_LOG_ROOT}/application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
  
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>
        <Logger name="org.springframework" level="ERROR"></Logger>
        <Logger name="org.hibernate" level="ERROR"></Logger>
        <Logger name="com.suniteducation" level="DEBUG"></Logger>
    </Loggers>
</Configuration>